In [10]:
import pandas as pd
import json

In [11]:
#Read the excel file
json_data_df = pd.read_excel(r"C:\Users\LeLuu\Documents\Python_Practice\Challenge_383\InputFile.xlsx")

In [12]:
json_data_df

    EVENT_TYPE                                            PAYLOAD
0        PRICE  {"eventId":"9691ec05Ca102C1456Cbfc8C6048cd9603...
1        PRICE  {"eventId":"9691ec05Ca102C1456Cbfc8C604ae81283...
2        PRICE  {"eventId":"7ef3d083C0502C1456Cbdb4Cd07bfd44c6...
3        PRICE  {"eventId":"7ef3d083C0502C1456Cbdb4Cd07e0c51c6...
4        PRICE  {"eventId":"7ef3d083C0502C1456Cbdb4Cd07e827307...
..         ...                                                ...
128      PRICE  {"eventId":"4a398c9bC6903C1456Cbbb7C4325781ac7...
129      PRICE  {"eventId":"4a398c9bC6903C1456Cbbb7C4325fc9207...
130      PRICE  {"eventId":"4a398c9bC6903C1edeC808dC61e07dae43...
131      PRICE  {"eventId":"4a398c9bC6903C1edeC808dC61e293f403...
132      PRICE  {"eventId":"7ef3d083C0502C1edeC8093C452bbaa3c2...

[133 rows x 2 columns]

In [13]:
#Apply the json.loads function to parse JSON for the PAYLOAD column
json_data_df['parsed'] = json_data_df['PAYLOAD'].apply(json.loads)

In [14]:
json_data_df

,EVENT_TYPE,PAYLOAD,parsed
0,PRICE,"{""eventId"":""9691ec05Ca102C1456Cbfc8C6048cd9603...",{'eventId': '9691ec05Ca102C1456Cbfc8C6048cd960...
1,PRICE,"{""eventId"":""9691ec05Ca102C1456Cbfc8C604ae81283...",{'eventId': '9691ec05Ca102C1456Cbfc8C604ae8128...
2,PRICE,"{""eventId"":""7ef3d083C0502C1456Cbdb4Cd07bfd44c6...",{'eventId': '7ef3d083C0502C1456Cbdb4Cd07bfd44c...
3,PRICE,"{""eventId"":""7ef3d083C0502C1456Cbdb4Cd07e0c51c6...",{'eventId': '7ef3d083C0502C1456Cbdb4Cd07e0c51c...
4,PRICE,"{""eventId"":""7ef3d083C0502C1456Cbdb4Cd07e827307...",{'eventId': '7ef3d083C0502C1456Cbdb4Cd07e82730...
...,...,...,...
128,PRICE,"{""eventId"":""4a398c9bC6903C1456Cbbb7C4325781ac7...",{'eventId': '4a398c9bC6903C1456Cbbb7C4325781ac...
129,PRICE,"{""eventId"":""4a398c9bC6903C1456Cbbb7C4325fc9207...",{'eventId': '4a398c9bC6903C1456Cbbb7C4325fc920...
130,PRICE,"{""eventId"":""4a398c9bC6903C1edeC808dC61e07dae43...",{'eventId': '4a398c9bC6903C1edeC808dC61e07dae4...
131,PRICE,"{""eventId"":""4a398c9bC6903C1edeC808dC61e293f403...",{'eventId': '4a398c9bC6903C1edeC808dC61e293f40...
132,PRICE,"{""eventId"":""7ef3d083C0502C1edeC8093C452bbaa3c2...",{'eventId': '7ef3d083C0502C1edeC8093C452bbaa3c...

In [15]:
#Flatten the parsed JSON data into a DataFrame
df = pd.json_normalize(json_data_df['parsed'],max_level=1)

In [16]:
df

,eventId,payLoad
0,9691ec05Ca102C1456Cbfc8C6048cd960383,"{""conditionTable"":""73"",""application"":""V"",""sale..."
1,9691ec05Ca102C1456Cbfc8C604ae8128383,"{""conditionTable"":""73"",""application"":""V"",""sale..."
2,7ef3d083C0502C1456Cbdb4Cd07bfd44c658,"{""conditionTable"":""73"",""application"":""V"",""sale..."
3,7ef3d083C0502C1456Cbdb4Cd07e0c51c658,"{""conditionTable"":""73"",""application"":""V"",""sale..."
4,7ef3d083C0502C1456Cbdb4Cd07e82730758,"{""conditionTable"":""73"",""application"":""V"",""sale..."
...,...,...
128,4a398c9bC6903C1456Cbbb7C4325781ac7a5,"{""conditionTable"":""73"",""application"":""V"",""sale..."
129,4a398c9bC6903C1456Cbbb7C4325fc9207a5,"{""conditionTable"":""73"",""application"":""V"",""sale..."
130,4a398c9bC6903C1edeC808dC61e07dae43f0,"{""conditionTable"":""73"",""application"":""V"",""sale..."
131,4a398c9bC6903C1edeC808dC61e293f403f0,"{""conditionTable"":""73"",""application"":""V"",""sale..."
132,7ef3d083C0502C1edeC8093C452bbaa3c246,"{""conditionTable"":""73"",""application"":""V"",""sale..."

In [17]:
#Doing the same for payload column to parse JSON and normalize it
df['parsed'] = df['payLoad'].apply(json.loads)
data_df = pd.json_normalize(df['parsed'], max_level=1)

In [18]:
data_df

,conditionTable,application,salesOrganization,distributionChannel,materialNumber,salesUnit,priceRequired,pricing
0,73,V,425,07,000000185364299738,EA,N,"[{'conditionRecordNumber': '0007802083', 'cond..."
1,73,V,425,07,000000185364494829,EA,N,"[{'conditionRecordNumber': '0007802086', 'cond..."
2,73,V,425,07,000000185364563624,EA,N,"[{'conditionRecordNumber': '0007801757', 'cond..."
3,73,V,425,07,000000185364563730,EA,N,"[{'conditionRecordNumber': '0007801760', 'cond..."
4,73,V,425,07,000000185364563846,EA,N,"[{'conditionRecordNumber': '0007801763', 'cond..."
...,...,...,...,...,...,...,...,...
128,73,V,425,07,X01970,EA,N,"[{'conditionRecordNumber': '0007797399', 'cond..."
129,73,V,425,07,X01987,EA,N,"[{'conditionRecordNumber': '0007797402', 'cond..."
130,73,V,425,07,SUPM57560,EA,N,"[{'conditionRecordNumber': '0007779928', 'cond..."
131,73,V,425,07,SUPM57567,EA,N,"[{'conditionRecordNumber': '0007779931', 'cond..."
132,73,V,425,07,SUPM57567,EA,N,"[{'conditionRecordNumber': '0007779931', 'cond..."

In [19]:
#Use the explode method to expand the 'pricing' column into separate rows
data_df_expanded = data_df.explode('pricing').reset_index(drop=True)

In [20]:
data_df_expanded

,conditionTable,application,salesOrganization,distributionChannel,materialNumber,salesUnit,priceRequired,pricing
0,73,V,425,07,000000185364299738,EA,N,"{'conditionRecordNumber': '0007802083', 'condi..."
1,73,V,425,07,000000185364494829,EA,N,"{'conditionRecordNumber': '0007802086', 'condi..."
2,73,V,425,07,000000185364563624,EA,N,"{'conditionRecordNumber': '0007801757', 'condi..."
3,73,V,425,07,000000185364563730,EA,N,"{'conditionRecordNumber': '0007801760', 'condi..."
4,73,V,425,07,000000185364563846,EA,N,"{'conditionRecordNumber': '0007801763', 'condi..."
...,...,...,...,...,...,...,...,...
212,73,V,425,07,X01970,EA,N,"{'conditionRecordNumber': '0007797399', 'condi..."
213,73,V,425,07,X01987,EA,N,"{'conditionRecordNumber': '0007797402', 'condi..."
214,73,V,425,07,SUPM57560,EA,N,"{'conditionRecordNumber': '0007779928', 'condi..."
215,73,V,425,07,SUPM57567,EA,N,"{'conditionRecordNumber': '0007779931', 'condi..."
216,73,V,425,07,SUPM57567,EA,N,"{'conditionRecordNumber': '0007779931', 'condi..."

In [21]:
#Flatten the pricing column
pricing_df = pd.json_normalize(data_df_expanded['pricing'])

In [22]:
pricing_df

,conditionRecordNumber,conditionType,validFromDate,validToDate,pricingItem.rate,pricingItem.rateUnit,pricingItem.conditionPricingUnit,pricingItem.conditionUnit
0,0007802083,CRT0,20190529,99991231,59.47,USD,1,EA
1,0007802086,CRT0,20190529,99991231,19.47,USD,1,EA
2,0007801757,CRT0,20190518,99991231,169.47,USD,1,EA
3,0007801760,CRT0,20190518,99991231,169.47,USD,1,EA
4,0007801763,CRT0,20190518,99991231,169.47,USD,1,EA
...,...,...,...,...,...,...,...,...
212,0007797399,CRT0,20190508,99991231,0.00,USD,1,EA
213,0007797402,CRT0,20190508,99991231,0.00,USD,1,EA
214,0007779928,CRT0,20190308,99991231,29.47,USD,1,EA
215,0007779931,CRT0,20190308,99991231,39.47,USD,1,EA
216,0007779931,CRT0,20190308,99991231,39.47,USD,1,EA

In [23]:
#Prepare the data for final output
final_df = pd.concat([data_df_expanded.drop(columns='pricing'), pricing_df], axis=1).drop(columns=['conditionTable', 'application','salesOrganization','distributionChannel','salesUnit','priceRequired','pricingItem.rateUnit','pricingItem.conditionPricingUnit','pricingItem.conditionUnit']).rename(columns={'pricingItem.rate': 'rate'})

In [24]:
final_df

,materialNumber,conditionRecordNumber,conditionType,validFromDate,validToDate,rate
0,000000185364299738,0007802083,CRT0,20190529,99991231,59.47
1,000000185364494829,0007802086,CRT0,20190529,99991231,19.47
2,000000185364563624,0007801757,CRT0,20190518,99991231,169.47
3,000000185364563730,0007801760,CRT0,20190518,99991231,169.47
4,000000185364563846,0007801763,CRT0,20190518,99991231,169.47
...,...,...,...,...,...,...
212,X01970,0007797399,CRT0,20190508,99991231,0.00
213,X01987,0007797402,CRT0,20190508,99991231,0.00
214,SUPM57560,0007779928,CRT0,20190308,99991231,29.47
215,SUPM57567,0007779931,CRT0,20190308,99991231,39.47
216,SUPM57567,0007779931,CRT0,20190308,99991231,39.47

In [25]:
final_df = final_df[['conditionType','conditionRecordNumber','materialNumber','rate','validFromDate','validToDate']]

In [26]:
#Convert data types
final_df = final_df.astype({'conditionRecordNumber': 'int', 'rate': 'float'})

In [27]:
#Remove leading zeros from materialNumber
final_df['materialNumber'] = final_df['materialNumber'].apply(lambda x: x.lstrip('0') if isinstance(x, str) and x.isdigit() else x)

In [28]:
#Format the date columns to YYYY-MM-DD
final_df[['validFromDate','validToDate']] = final_df[['validFromDate','validToDate']].applymap(lambda x: f"{x[:4]}-{x[4:6]}-{x[6:]}" if isinstance(x, str) and len(x) == 8 else x)

C:\Users\LeLuu\AppData\Local\Temp\ipykernel_22972\3103899183.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  final_df[['validFromDate','validToDate']] = final_df[['validFromDate','validToDate']].applymap(lambda x: f"{x[:4]}-{x[4:6]}-{x[6:]}" if isinstance(x, str) and len(x) == 8 else x)

In [29]:
#Final Output
final_df

,conditionType,conditionRecordNumber,materialNumber,rate,validFromDate,validToDate
0,CRT0,7802083,185364299738,59.47,2019-05-29,9999-12-31
1,CRT0,7802086,185364494829,19.47,2019-05-29,9999-12-31
2,CRT0,7801757,185364563624,169.47,2019-05-18,9999-12-31
3,CRT0,7801760,185364563730,169.47,2019-05-18,9999-12-31
4,CRT0,7801763,185364563846,169.47,2019-05-18,9999-12-31
...,...,...,...,...,...,...
212,CRT0,7797399,X01970,0.00,2019-05-08,9999-12-31
213,CRT0,7797402,X01987,0.00,2019-05-08,9999-12-31
214,CRT0,7779928,SUPM57560,29.47,2019-03-08,9999-12-31
215,CRT0,7779931,SUPM57567,39.47,2019-03-08,9999-12-31
216,CRT0,7779931,SUPM57567,39.47,2019-03-08,9999-12-31